{% load i18n %}{% autoescape off %}
{% blocktranslate %}Cześć,

Otrzymujesz tę wiadomość, ponieważ poproszono o zresetowanie hasła dla Twojego konta w systemie KSP (Krwinkowy System Prezentowy).

Kliknij w poniższy link, aby ustawić nowe hasło:{% endblocktranslate %}
{{ protocol }}://{{ site_domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Twoja nazwa użytkownika, w razie gdybyś zapomniał(a):" %} {{ user.get_username }}

{% blocktranslate %}Jeśli nie prosiłeś(aś) o resetowanie hasła, po prostu zignoruj tę wiadomość.

Pozdrawiamy,
Zespół KSP
{% endblocktranslate %}
{% endautoescape %}
