{% extends "base.html" %}

{% block title %}E-mail wysłany - KSP{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-dark text-center">
                <h4>E-mail wysłany</h4>
            </div>
            <div class="card-body">
                <p>Wysłaliśmy Ci wiadomość e-mail z instrukcjami dotyczącymi resetowania hasła. Jeśli konto z podanym adresem e-mail istnieje, powinieneś otrzymać tę wiadomość wkrótce.</p>
                <p>Jeśli nie otrzymasz wiadomości e-mail, sprawdź czy wpisałeś adres, który podałeś podczas rejestracji i sprawdź folder spam.</p>
                <div class="text-center mt-3">
                    <a href="{% url 'login' %}" class="btn btn-primary">Powrót do strony logowania</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
